    html,body {
      font-family: Arial, Helvetica, sans-serif;
      color : rgb(0, 0, 0);
      margin: 0;
      background-color: #e1f0c5;
    }
    .header {
      padding: 40px;
      text-align: center;
      background: #b1c46c;
      color: rgb(255, 255, 255);
    }
    .header h1 {
      font-size: 40px;
    }
    .navbar {
      overflow: hidden;
      background-color: #8a9b5d;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    .navbar a {
      float: left;
      display:flex;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
      margin: 5px;
      padding: 16px;
    }
    .navbar a:hover {
      background-color: #ddf5b7;
      color:rgb(0, 0, 0);
      /* text-transform:uppercase; */
      font-weight:bolder;
      border-radius: 100px;
      margin: 5px;
      padding: 16px;
    }
    .main {
      font-size: 28px;
      padding: 50px;
      background: rgb(231, 227, 173);
    }
    .main h2 {
      font-size: 36px;
    }
    .main p {
      font-size: 20px;
    }
    .footer {
      padding: 20px;
      text-align: center;
      background:#d7e77a;
      color: rgb(0, 0, 0);
    }
    .card {
      border-radius: 14px;
      background-color: #ffffff;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 1%;
      margin-right: 1%;
    }